@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /* Primary */
    --PaleBlue: hsl(225, 100%, 94%);
    --BrightBlue: hsl(245, 75%, 52%);

    /* Neutral */
    --VeryPaleBlue: hsl(225, 100%, 98%);
    --DesaturatedBlue: hsl(224, 23%, 55%);
    --DarkBlue: hsl(223, 47%, 23%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.25rem;
    background-color: var(--PaleBlue);

    font-size: 1rem;
    font-family: 'Red Hat Display', sans-serif;
}

main {
    background-color: white;
    max-width: 400px; 
    border-radius: 1rem 1rem 0 0;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 2rem;
    border-radius: 1rem;
}

.main-picture {
    display: block;
    width: 100%;
    border-radius: 1rem 1rem 0 0;
}

section > h1 {
    margin: 2rem 0 1rem 0;
    text-align: center;
    color: var(--DarkBlue);
}

main span {
    text-align: center;
    color: var(--DesaturatedBlue);
}

.plan-info { 
    display: flex; 
    align-items: center; 
    width: 100%; 
    background-color: var(--VeryPaleBlue);
    margin: 2rem; 
    border-radius: 10px; 
    padding: 10px; 
    margin-left: auto;
}

.plan-offer {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

.plan-offer > h2 {
    font-size: 1rem;
    font-weight: 700;
}

.plan-info img { 
    justify-content: flex-start; 
    max-width: 100%;
    margin-right: 1rem; 
} 

.plan-info a {
    color: var(--BrightBlue);
    font-weight: 500;
    margin-left: 3rem;
}

.order {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}


main button {
    width: 100%;
    border: none;
    padding: 1rem 0;
    margin: 1rem 0;
    border-radius: 0.7rem;
    font-weight: 900;
    background-color: var(--BrightBlue);
    color: var(--VeryPaleBlue);
    box-shadow: 0px 20px 20px rgba(58, 42, 236, 0.062);
    cursor: pointer;
}

.proceed:hover {
    background-color: var(--DarkBlue);
    color: var(--PaleBlue);
}

.cancel {
    text-decoration: none;
    color: var(--DesaturatedBlue);
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.cancel:hover {
    color: var(--DarkBlue);
}